.footerContainer {
    height: 350px;
    width: auto;
    color: rgb(255, 255, 255);
    background-color: rgba(74, 0, 92, 1);
    display: flex;
    padding: 50px 80px;
    justify-content: space-between;
    gap: 80px;
}

.footerContainer li {
    list-style: none; 
}

.footerContact {
    width: 320px;
}

.footerContact li {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 500;
}

.footerPages {
    width: 300px;
}

.footerPages li {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width:1024px) {
    .footerContainer {

        height: auto;
        width: auto;
        color: rgb(255, 255, 255);
        background-color: rgba(74, 0, 92, 1);
        display: flex;
        padding: 50px 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 60px;
    }

    .footerContact li {
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: 500;
    }

    .footerPages li {
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: 500;
    }
}