.navbarHomeMedia {
    display: none;
}

.NavbarHome {
    position: absolute;
    height: 130px;
    width: auto;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    align-items: center;

}

.navbarHomeLogo {
    width: 600px;
    padding: 45px 60px;
    letter-spacing: 0.5px;
    margin-left: 20px;
}

.navbarHomeSubtitle {
    font-size: 20px;
    font-weight: bold;
}

.navbarHomeSections {
    width: 55%;
    display: flex;
    justify-content: center;
    margin-left: 63px;

}

.navbarHomeSections li {
    display: inline-block;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 500;
}

.navbarHomeSections input {
    display: none;
}

.iconsHome {
    display: none;
}


.donations {
    padding: 10px 80px;
    height: auto; 
    line-height: 1.8;
    border-radius: 4px;
    border: none;
    background-color: rgba(167, 167, 167, 1);
    
}

.donations button {
    height: auto;
    line-height: 1.8;
    border: none; 
    background: none; 
    color: inherit; 
    font: inherit;
    cursor: pointer; 
    text-decoration: none; 
    box-shadow: none; 
    border-radius: 4px;
}

.homeImage {
    height: auto;
    overflow: hidden;
   
}

.homeImage img{
    height: auto;
    width: 100%;
    object-fit: cover;
}

.misasInformacion {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 100px;
    padding: 80px 100px;
}

.misasInformacion h2 {
    margin-bottom: 30px;
}

.misasInformacion p {
    font-size: 20px;
}

.parroquiaInfo {
    position: relative;
    height: auto;
    width: 100%;
    display: block;
    align-items: center;
    
}

.parroquiaInfo img {
    height: auto;
    width: 100%;
    padding: 0px 100px;
   
    
}

.parroquiaInfo button {
    position: absolute;
    top: 90%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(185, 134, 3, 1);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Montserrat";
    border: none;
    border-radius: 14px;
    cursor: pointer;
}


.noticiasLanding {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 20px;
}

.noticiasLanding h3 {
    padding: 100px 100px;
}


.noticiasLanding button {
    background-color: rgba(209, 53, 0, 1);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Montserrat";
    border: none;
    border-radius: 14px;
    cursor: pointer;
    align-self: center;
}

.donacionLanding {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.donacionLandingContainer {
    background-color:rgba(185, 134, 3, 1) ;
    color: white;
    padding: 50px;
    border-radius: 14px;
    margin-left: 120px;
}

.donacionLandingContainer h3 {
    margin-bottom: 20px;
}

.donacionLandingContainer p:nth-child(2) {
    margin-bottom: 20px;
}

.donacionLandingImage {
    padding: 50px;
    height: 350px;
    width: 600px;
    border-radius: 14px;
}

.donacionLandingImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 14px;
}

@media (max-width:1024px) {
    .NavbarHome {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .navbarHomeLogo{
        font-size: 10px;
        width: auto;
        padding: 30px;
        white-space: nowrap;
    }

    .navbarHomeLogo p {
        font-size: 13px;
    }


    .navbarHomeSections ul {
        position: absolute;
        top: 80%; 
        left: 0;
        width: 100%;
        background-color: rgba(44, 71, 126, 1);
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    .navbarHomeSections li {
        padding: 10px;
    }

    .iconsHome {
        display: flex;
        color: white;
        margin-right: 20px;
    }

    #check:checked ~ ul {
        height: 300px;
    }

    .homeImage {
        width: 100%;
    }
    
    .homeImage img {
        height: 80vh;

      }

    .misasInformacion {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 15px;
        gap: 50px;
    }

    .misasInformacion h2 {
        font-size: 17px;
        margin-bottom: 15px;
    }

    .misasInformacion p {
        font-size: 15px;
    }

    .parroquiaInfo {
        position: relative;
        height: auto;
        width: 100%;
        display: block;
        align-items: center;
    }
    
    .parroquiaInfo img {
        height: auto;
        width: 100%;
        padding: 0px;
    }

    .parroquiaInfo button {
        top: 80%; 
        padding: 10px;
        font-size: 12px;
    }

    .noticiasLanding {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0px;
        margin-bottom: 150px;
    }

    .donacionLanding {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .donacionLandingContainer {
        background-color:rgba(185, 134, 3, 1) ;
        color: white;
        padding: 50px;
        border-radius: 14px;
        margin: 0px
    }

    .donacionLandingImage {
        padding: 30px 20px 80px 20px;
        height: auto;
        width: auto;
        border-radius: 14px;
    }
    
    .donacionLandingImage img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 14px;
    }



}