
.Navbar {
    height: 130px;
    width: auto;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    background-color: rgba(74, 0, 92, 1);
    align-items: center;
    z-index: 1;

}

.navbarLogo {
    width: 600px;
    padding: 45px 60px;
    letter-spacing: 0.5px;
    margin-left: 20px;
}

.navbarLogo img {
    height: 150px;
    width: auto;
}

.navbarSubtitle {
    font-size: 20px;
    font-weight: bold;
}

.navbarSections {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}

.navbarSections li {
    display: inline-block;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.1s ease-in-out;
}

 .navbarSections li:hover  {
   color: rgb(189, 135, 0);
}

.donations {
    padding: 10px 80px;
    height: auto; 
    line-height: 1.8;
    border-radius: 4px;
    border: none;
    background-color: rgba(167, 167, 167, 1);
    
}

.donations button {
    height: auto;
    line-height: 1.8;
    border: none; 
    background: none; 
    color: inherit; 
    font: inherit;
    cursor: pointer; 
    text-decoration: none; 
    box-shadow: none; 
    border-radius: 4px;
}

.navbarSections input {
    display: none;
}

.icons {
    display: none;
}

.dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    width: 90%;
    background-color: rgb(53, 1, 66); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    list-style: none;
    padding: 0;
    margin:  0 10px;
    z-index: 1000;
  }
  
  .dropdown-menu li {
    padding: 20px 10px;
  }
  
  .dropdown-menu li a {
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    display: block;
    transition: background-color 0.1s ease-in-out;
  }

  .dropdown-menu li a:hover  {
   color: rgb(189, 135, 0);
}

  
@media (max-width: 1024px) {
    .Navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .navbarLogo{
        font-size: 10px;
        width: auto;
        padding: 10px;
        white-space: nowrap;
    }

    .navbarLogo img {
        height: 120px;
        width: 250px;
    }

    .navbarSections {
        margin-right: 20px;
    
    }



    .navbarSections ul {
        position: absolute;
        top: 100%; 
        left: 0;
        width: 100%;
        background-color: rgba(74, 0, 92, 1);
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
        z-index: 1000;
    }

    .navbarSections li {
        padding: 10px;
    }

    .icons {
        display: flex;
        color: white;
        justify-content: flex-end;
    }

    #check:checked ~ ul {
        height: auto;
        padding: 0 0 50px 0px;
    }

    .dropdown ul{
        display: block; 
        position: relative; 
        margin: 0; 
        height: 100px;
        top: 0;
        width: 100%; 
        background-color: rgb(53, 1, 66); 
        
      }
    
      .dropdown-menu li {
        text-align: center; 
        padding: 5px;
        margin-top: 10px;
        width: 100%;
        
      }
    

    
    
}