
.Navbar {
    height: 130px;
    width: auto;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    background-color: rgba(74, 0, 92, 1);
    align-items: center;
    z-index: 1;

}

.navbarLogo {
    width: 600px;
    padding: 45px 60px;
    letter-spacing: 0.5px;
    margin-left: 20px;
}

.navbarSubtitle {
    font-size: 20px;
    font-weight: bold;
}

.navbarSections {
    width: 55%;
    display: flex;
    justify-content: center;
    margin-right: 60px;

}

.navbarSections li {
    display: inline-block;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 500;
}

.donations {
    padding: 10px 80px;
    height: auto; 
    line-height: 1.8;
    border-radius: 4px;
    border: none;
    background-color: rgba(167, 167, 167, 1);
    
}

.donations button {
    height: auto;
    line-height: 1.8;
    border: none; 
    background: none; 
    color: inherit; 
    font: inherit;
    cursor: pointer; 
    text-decoration: none; 
    box-shadow: none; 
    border-radius: 4px;
}

.navbarSections input {
    display: none;
}

.icons {
    display: none;
}


@media (max-width: 1024px) {
    .Navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .navbarLogo{
        font-size: 10px;
        width: auto;
        padding: 30px;
    }

    .navbarLogo p {
        font-size: 15px;
        white-space: nowrap;
    }


    .navbarSections ul {
        position: absolute;
        top: 100%; 
        left: 0;
        width: 100%;
        background-color: rgba(74, 0, 92, 1);
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    .navbarSections li {
        padding: 10px;
    }

    .icons {
        display: flex;
        color: white;
    }

    #check:checked ~ ul {
        height: 300px;
    }
}