.noticiasContainer {
    width: 100%;
    height: 100%;
    padding: 60px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
}

.noticiasContainer h1 {
    margin-bottom: 50px;
}

.noticiasLink {
    margin-bottom: 50px;
}

.noticiasListPage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;

}

.noticiaItemPage {
    height: 450px;
    width: 400px;
    border: 1px solid cadetblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.NoticiasItemPageText{
    font-size: 12px;
    padding: 0px 40px;
}

.noticiaItemPage img {
    height: 60%;
    width: 100%;
}

.noticiaItemPage button {
    background-color:rgba(185, 134, 3, 1);
    padding: 5px 15px;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 14px;
    color: white;
    border: 0;
}

@media (max-width:1024px) {
    .noticiasContainer {
        padding: 60px 0px
    }

    .noticiasListPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        gap: 0px;
    
    }
    
    .noticiaItemPage {
        height: 350px;
        width: 300px;
        border: 1px solid cadetblue;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
}