
.noticiaContainer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 300px;
    background-color: white;
    color: black;
}

.noticiaContainer h1 {
    margin-bottom: 50px;
}

.noticiaContainerDate {
    margin-bottom: 50px !important;
    text-align: justify;
}

.noticiaContainer p {
    text-align: justify;
    margin-top: 20px;
}

.noticiaImagen {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
    gap: 30px; 
    align-items: center;
    justify-items: center;
    width: 100%;
    margin: 0 20px 80px 20px; 
    padding: 30px 100px;
    box-sizing: border-box; 
    background-color: white;
    color: black;
}

.noticiaImagen img {
    max-width: 400px; 
    height: auto; 
    object-fit: cover; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


@media (max-width: 1020px) {
    .noticiaContainer {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 50px;
        background-color: white;
    }

    .noticiaContainerText p {
        margin-bottom: 10px;
        text-align: justify;
    }

    .noticiaContainer h1 {
        text-align: center;
    }

    .noticiaImagen {
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .noticiaImage img {
        max-width: 100px;
        box-shadow: none;
    }
}