.noticiasContainer {
    width: 100%;
    height: 100%;
    padding: 60px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noticiasContainer h1 {
    margin-bottom: 50px;
}

.noticiasContainer p {
    margin-bottom: 50px;
}

.noticiasList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;

}

.noticiaItem {
    height: 450px;
    width: 400px;
    border: 1px solid cadetblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.noticiaItem p{
    font-size: 15px;
}

.noticiaItem img {
    height: 60%;
    width: 100%;
}

.noticiaItem button {
    background-color:rgba(185, 134, 3, 1);
    padding: 5px 15px;
    margin-bottom: 20px;
    font-size: 15px;
}

@media (max-width:1024px) {
    .noticiasContainer {
        padding: 60px 100px;
    }
}